<div id="rightside">
	<div id="rightside-config-hide">
		<button id="readmode" type="button" title="阅读模式">
			<i class="fas fa-book-open"></i>
		</button>
		<button id="darkmode" type="button" title="浅色和深色模式转换">
			<i class="fas fa-adjust"></i>
		</button>
	</div>
	<div id="rightside-config-show">
		<button id="rightside_config" type="button" title="设置">
			<i class="fas fa-cog fa-spin"></i>
		</button>
		<button id="go-up" type="button" title="回到顶部">
			<i class="fas fa-arrow-up"></i>
		</button>
	</div>
</div>

<div id="local-search">
	<div class="search-dialog">
		<nav class="search-nav">
			<span class="search-dialog-title">搜索</span>
			<span id="loading-status"></span>
			<button class="search-close-button">
				<i class="fas fa-times"></i>
			</button>
		</nav>
		<div class="is-center" id="loading-database">
			<i class="fas fa-spinner fa-pulse"></i>
			<span>	数据库加载中</span>
		</div>
		<div class="search-wrap">
			<div id="local-search-input">
				<div class="local-search-box">
					<input class="local-search-box--input" placeholder="搜索文章" type="text" />
				</div>
			</div>
			<hr/>
			<div id="local-search-results"></div>
		</div>
	</div>
	<div id="search-mask"></div>
</div>

<div>
	<script src="/js/utils.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
	<script src="/js/search/local-search.js"></script>
	<div class="js-pjax">
		<script>
			if (!window.MathJax) {
				window.MathJax = {
					tex: {
						inlineMath: [ ['$','$'], ["\\(","\\)"]],
						tags: 'ams'
					},
					chtml: {
						scale: 1.2
					},
					options: {
						renderActions: {
							findScript: [10, doc => {
								for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
								const display = !!node.type.match(/; *mode=display/)
								const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display)
								const text = document.createTextNode('')
								node.parentNode.replaceChild(text, node)
								math.start = {node: text, delim: '', n: 0}
								math.end = {node: text, delim: '', n: 0}
								doc.math.push(math)
								}
							}, ''],
							insertScript: [200, () => {
								document.querySelectorAll('mjx-container:not\([display]\)').forEach(node => {
								const target = node.parentNode
								if (target.nodeName.toLowerCase() === 'li') {
									target.parentNode.classList.add('has-jax')
								} else {
									target.classList.add('has-jax')
								}
								});
							}, '', false]
						}
					}
				}

				const script = document.createElement('script')
				script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'
				script.id = 'MathJax-script'
				script.async = true
				document.head.appendChild(script)
			} else {
				MathJax.startup.document.state(0)
				MathJax.texReset()
				MathJax.typeset()
			}
		</script>
	</div>

	<canvas class="fireworks" mobile="false"></canvas>
	<script src="https://cdn.jsdelivr.net/npm/butterfly-extsrc@1/dist/fireworks.min.js"></script>
	<script defer="defer" id="ribbon" src="https://cdn.jsdelivr.net/npm/butterfly-extsrc@1/dist/canvas-ribbon.min.js" size="150" alpha="0.6" zIndex="-1" mobile="false" data-click="false"></script>
	<script async data-pjax src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</div>
