<div id="sidebar">
	<div id="menu-mask"></div>
	<div id="sidebar-menus">
		<div class="avatar-img is-center"><img src="https://i.loli.net/2021/02/24/5O1day2nriDzjSu.png" onerror="onerror=null;src='/img/friend_404.gif'" alt="avatar" /></div>
		<hr/>
		<div class="menus_items">
			<div class="menus_item"><a class="site-page" href="/"><i class="fa-fw fas fa-home"></i><span> 首页</span></a></div>
			<div class="menus_item"><a class="site-page" href="/link/"><i class="fa-fw fas fa-link"></i><span> 友链</span></a></div>
		</div>
	</div>
</div>
